<Card Level=2>
    <AuthorizeView>
        <Authorized>
            <div>@t["user.greeting"] @context.User.Identity!.Name !</div>
            <Button @onclick=SignOut>@t["auth.signout.action"]</Button>
        </Authorized>
        <NotAuthorized>
            <div>Not connected</div>
            <Link Button Route="auth/signin">@t["auth.signin.action"]</Link>
        </NotAuthorized>
    </AuthorizeView>
</Card>

@code {
    private async Task SignOut() {
        try
        {
            await authState.SignOut();
            Nav.NavigateTo("auth/signin");
            toaster.AddSuccess(@t["auth.signout.success"]);
        }
        catch (ProblemDetailsException) { }
    }
}