@using System.Linq.Expressions;
@using Ui.Shared.Containers.Form.Abstract;
@using Ui.Shared.Containers.Form.Style;

@typeparam TValue
@typeparam TOption
@inherits CustomRequiredField<TValue>

<!-- Lorsque https://developer.mozilla.org/en-US/docs/Web/API/HTMLElement/togglePopover sera standardisé : à morderniser -->

<SelectFieldStyle>
    <div class="field-wrapper">

        <label>@Label</label>

        <div tabindex="0" class="select-wrapper"
             @onfocusin="_ => optionsVisible = true"
             @onfocusout="_ => optionsVisible = false">

            <!-- Field -->
            <output class="select-field @(invalid ? "invalid" : "") @(optionsVisible ? "focused" : "")">
                @if (selectedOption?.Value != null)
                {
                    <span class="selected-option">
                        <span class="selected-option-value">@OptionName(selectedOption.Name)</span>
                        <Icon Id="circle-x" @onclick =OnClearClick />
                    </span>
                }
                else
                {
                    <input class="@(invalid ? "invalid" : "" )"
                       @oninput=OnSearchInput
                       placeholder="@Placeholder">
                }
                <Icon Id=@(optionsVisible ? "chevron-top" : "chevron-bottom") />
            </output>

            <!-- Options -->
            <ul class="options @(optionsVisible ? "" : "hide")">
                @if (searchedOptions!.Any())
                {
                    foreach (var opt in searchedOptions!)
                    {
                        <li @onmousedown="_ => UpdateValue(opt)"
                    @onclick="_ => optionsVisible = false">
                            <data value="@opt.Value">@OptionName(opt.Name)</data>
                        </li>
                    }
                }
                else
                {
                    <li>@NoResultMessage</li>
                }
            </ul>
        </div>

        <ValidationMessage For=@(() => Value)></ValidationMessage>
    </div>
</SelectFieldStyle>

@code {
    /* Options */
    [EditorRequired, Parameter]
    public IEnumerable<TOption>? Options { get; set; }
    [Parameter]
    public (Func<TOption?, string?>? Name, Func<TOption?, string?>? Value)? OptionGetters { get; set; }

    /* Search */
    [Parameter]
    public int SearchDelay { get; set; } = 500;
    [Parameter]
    public int NbDisplayedOptions { get; set; } = 10;
    [Parameter]
    public string NoResultMessage { get; set; } = "No result";    


    private IEnumerable<Option>? options, searchedOptions = new List<Option>();
    private Option? selectedOption = new();
    private bool optionsVisible = false;
    private Timer? searchTimer;
    private string? contains;

    protected override void OnInitialized()
    {
        options = Options!.ToOption(OptionGetters?.Name, OptionGetters?.Value);
        base.OnInitialized();
    }

    protected override void OnParametersSet()
    {
        ResetSearchedOptions();
        if (Value == null) selectedOption = null;
    }

    private void OnSearchInput(ChangeEventArgs e)
    {
        searchTimer = new Timer(_ => SearchOptions(contains), null, SearchDelay, 0);
        contains = e.Value?.ToString();
    }

    private void SearchOptions(string? contains)
    {
        if (contains != null && options != null)
            searchedOptions = options.Where(x =>
                x.Name!.ToLower().Contains(
                    contains.ToLower()!)).Take(NbDisplayedOptions);
        StateHasChanged();
    }

    private void OnFieldClick() => optionsVisible = !optionsVisible;

    private void OnClearClick(MouseEventArgs e)
    {
        optionsVisible = false;
        ResetSearchedOptions();
        UpdateValue();
    }

    private string? OptionName(string? name) => t[name].Contains("##") ? name : t[name];

    private async void UpdateValue(Option? option = null)
    {
        Value = (TValue)(object)option?.Value!;
        await ValueChanged.InvokeAsync((TValue)(object)option?.Value!);
        selectedOption = option;
        EditContext!.NotifyFieldChanged(EditContext.Field(ParseFieldName()));
        ValidateField(Value);
        await OnChange.InvokeAsync();
    }

    private void ResetSearchedOptions()
    {
        if (options != null) searchedOptions = options.Take(NbDisplayedOptions);
    }
}