@using K.Blazor.Components.Containers.Form.Abstract
@using K.Blazor.Components.Containers.Form.Style
@using K.Blazor.Components.Indicators
@using System.Linq.Expressions

@typeparam TValue
@typeparam TOption
@inherits Abstract.SelectField<TValue, TOption>

<!-- Lorsque https://developer.mozilla.org/en-US/docs/Web/API/HTMLElement/togglePopover sera standardisé : à morderniser -->

<div class="field-wrapper">

    <label>@Label</label>

    <SelectFieldStyle>
        <div tabindex="0" class="select-wrapper"
            @onfocusin="_ => optionsVisible = true"
            @onfocusout="_ => optionsVisible = false">
            <!-- Field -->
            <div class="select-field @(invalid ? "invalid" : "") @(optionsVisible ? "focused" : "")">
                
                <!-- Value -->
                @if (selectedOption?.Value != null)
                {
                    <span class="selected-options">@selectedOption.Name</span>
                }
                else
                {
                    <input class="@(invalid ? "invalid" : "" )"
                           @oninput=OnSearchInput
                           placeholder=@Placeholder>
                }

                <!-- Actions -->
                <div class="field-actions">
                    @if (selectedOption?.Value != null)
                    {
                        <Icon Id="circle-x" @onclick=OnClearClick />
                    }
                    <Icon Id=@(optionsVisible ? "chevron-top" : "chevron-bottom") />
                </div>
            </div>

            <!-- Options -->
            <ul class="options @(optionsVisible ? "" : "hide")">
                @if (searchedOptions!.Any())
                {
                    foreach (var opt in searchedOptions!)
                    {
                        <li @onmousedown="_ => OnValueChange(opt)"
                            @onclick="_ => optionsVisible = false">
                            <data value="@opt.Value">@opt.Name</data>
                        </li>
                    }
                }
                else
                {
                    <li>@SelectConf.NoResultMessage()</li>
                }
            </ul>
        </div>
    </SelectFieldStyle>

    <ValidationMessage For=@(() => Value)></ValidationMessage>
</div>


@code {
    /* Search */
    [Parameter]
    public int SearchDelay { get; set; } = 500;
    [Parameter]
    public int NbDisplayedOptions { get; set; } = 10;


    private IEnumerable<Option>? searchedOptions = new List<Option>();
    private Option? selectedOption = new();
    private Timer? searchTimer;
    private string? contains;

    protected override void OnParametersSet()
    {
        ResetSearchedOptions();
        if (Value == null) selectedOption = null;
    }

    private void OnSearchInput(ChangeEventArgs e)
    {
        searchTimer = new Timer(_ => SearchOptions(contains), null, SearchDelay, 0);
        contains = e.Value?.ToString();
    }

    private void SearchOptions(string? contains)
    {
        if (contains != null && options != null)
            searchedOptions = options.Where(x =>
                x.Name!.ToLower().Contains(
                    contains.ToLower()!)).Take(NbDisplayedOptions);
        StateHasChanged();
    }

    private void OnClearClick(MouseEventArgs e)
    {
        optionsVisible = true;
        ResetSearchedOptions();
        OnValueChange();
    }

    private async void OnValueChange(Option? opt = null)
    {
        selectedOption = opt;
        Value = (TValue)(object)opt?.Value!;

        // Notification events
        await ValueChanged.InvokeAsync((TValue)(object)opt?.Value!);
        await OnChange.InvokeAsync();
        EditContext!.NotifyFieldChanged(EditContext.Field(ParseFieldName()));

        // Validation
        ValidateField();        
    }

    private void ResetSearchedOptions()
    {
        if (options != null) searchedOptions = options.Take(NbDisplayedOptions);
    }
}